body{background-color: #333}
.bg-div{
    background-image: url("images/bing.jpg");width:1228px;height:690px;margin:0 auto;	
}
.logo{
    margin:-4px 18px 0 0;background-image: url("images/logo.png");width:107px;height:53px;float:left;
}
form{
    float:left;background-color:#fff;padding:5px;
}
.inputText{
    border : 0;float:left;height:25px;line-height:25px;outline:none;width:350px;
}
.inputButton{
    border : 0; background-image: url("images/searchButton.png");width:29px;height:29px;
    float: left;
}
.search-box{
    position: absolute;top:200px;left:300px
}